@page "/"

<h1>This is the index.razor page.  This page is the default load page.</h1>
<p>Resources to help understand this code and learn blazor(I recommend you do them in order as you need them):</p>
<ul>
    <li>To get the example porject running from microsoft follow this: <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio">https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio</a>. I am not using webassembly at this time since it is not the best use case for us i think.</li>
    <li>To learn about how blazor apps are laid out and there project structure when first created visit: <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/templates?view=aspnetcore-3.1">https://docs.microsoft.com/en-us/aspnet/core/blazor/templates?view=aspnetcore-3.1</a></li>
    <li>To learn the basics of blazor start here: <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.1">https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.1</a></li>
    <li>To learn how values of input elements are bound to C# variables such as my keyword search field for blogs visit: <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/data-binding?view=aspnetcore-3.1">https://docs.microsoft.com/en-us/aspnet/core/blazor/data-binding?view=aspnetcore-3.1</a></li>
    <li>To learn event handling such as how my search initiates on button click without javascript visit: <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/event-handling?view=aspnetcore-3.1">https://docs.microsoft.com/en-us/aspnet/core/blazor/event-handling?view=aspnetcore-3.1</a></li>
    <li>To learn about Templated components such as the tables i made for blogs and teammembers visit:
        <ul>
            <li><a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/templated-components?view=aspnetcore-3.1">https://docs.microsoft.com/en-us/aspnet/core/blazor/templated-components?view=aspnetcore-3.1</a></li>
            <li><a href="https://visualstudiomagazine.com/articles/2018/12/01/blazor-templated-components.aspx">https://visualstudiomagazine.com/articles/2018/12/01/blazor-templated-components.aspx</a></li>
            <li>Once you have read these you might be confused like i was so here is a tutorial i watched that really helped: <a href="https://www.youtube.com/watch?v=BBFF2l1FlE0">https://www.youtube.com/watch?v=BBFF2l1FlE0</a></li>
        </ul>
    </li>
</ul>
